/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.container {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  padding: 20;
  border: 2px solid green;
  width: 1000px;
  padding: 10px;
}
.enemy {
  fill: red;
}
.player {
  fill: blue;
}
