/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.container {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  padding: 20;
  border:30px solid transparent;
  border-image:url(http://www.norabrowndesign.com/css-experiments/images/border3.png) 30 30 round;
  width: 1000px;
  padding: 10px;
}
.enemy {
 }
.player {
  fill: black;
  x: 0;
  y: 0;
  angle: 0;
  r: 5;
}
html {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #fff 0%, #aaa 100%) no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}